In [42]:
from urllib.parse import urlencode
import requests
import time
from datetime import datetime
import json
import pandas as pd

In [2]:
BASE_URL = "http://history.openweathermap.org/data/2.5/history/city?"
API_KEY = open("../wind_farm/api_key.txt").read()

In [33]:
def get_history_weather(params):
    """
    Call OpenWeatherMap historical weather API by coordinates
    Returns JSON file
    """
    query_dict = {"lat": params["lat"],
                  "lon": params["lon"],
                  "type": "hour",
                  "start": params["start"],
                  "end": params["end"],
                  "appid": API_KEY}

    query_str = urlencode(query_dict)

    #print(BASE_URL+query_str)
    api_request = requests.get(BASE_URL+query_str)
    
    return api_request.json()


def get_wind_history(params):
    
    req = get_history_weather(params)

In [7]:
params = {"lat": 47.6062,
         "lon": -122.3321,
         "type": "hour",
         "start": int(round(datetime(2020,3,31).timestamp(),0)),
         "end": int(round(datetime(2020,4,1).timestamp(),0))}

In [31]:
req = get_history_weather(params)

http://history.openweathermap.org/data/2.5/history/city?lat=47.6062&lon=-122.3321&type=hour&start=1585638000&end=1585724400&appid=6bce826503c879f393a3f2f7fd8e35b7

In [39]:
req

{'message': 'Count: 25',
 'cod': '200',
 'city_id': 5809844,
 'calctime': 0.00394437,
 'cnt': 25,
 'list': [{'dt': 1585638000,
   'main': {'temp': 277.58,
    'feels_like': 274.49,
    'pressure': 1014,
    'humidity': 86,
    'temp_min': 276.15,
    'temp_max': 278.71},
   'wind': {'speed': 2.1, 'deg': 190},
   'clouds': {'all': 75},
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10n'}],
   'rain': {'1h': 0.25}},
  {'dt': 1585641600,
   'main': {'temp': 277.55,
    'feels_like': 274.1,
    'pressure': 1013,
    'humidity': 86,
    'temp_min': 276.15,
    'temp_max': 278.71},
   'wind': {'speed': 2.6, 'deg': 160},
   'clouds': {'all': 90},
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10n'}],
   'rain': {'1h': 0.68}},
  {'dt': 1585645200,
   'main': {'temp': 277.44,
    'feels_like': 273.97,
    'pressure': 1014,
    'humidity': 86,
    'temp_min': 275.93,
    'temp_max': 278.71},
   'wind': {'speed': 2.6, 'deg': 160},
   'clouds': {'all': 75},
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10n'}],
   'rain': {'1h': 0.25}},
  {'dt': 1585648800,
   'main': {'temp': 277.35,
    'feels_like': 273.17,
    'pressure': 1014,
    'humidity': 86,
    'temp_min': 275.93,
    'temp_max': 278.71},
   'wind': {'speed': 3.6, 'deg': 170},
   'clouds': {'all': 75},
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04n'}]},
  {'dt': 1585652400,
   'main': {'temp': 277.24,
    'feels_like': 274.09,
    'pressure': 1014,
    'humidity': 86,
    'temp_min': 275.93,
    'temp_max': 278.71},
   'wind': {'speed': 2.1, 'deg': 190},
   'clouds': {'all': 90},
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10n'}],
   'rain': {'1h': 0.3}},
  {'dt': 1585656000,
   'main': {'temp': 276.92,
    'feels_like': 274.32,
    'pressure': 1014,
    'humidity': 93,
    'temp_min': 275.37,
    'temp_max': 278.15},
   'wind': {'speed': 1.5, 'deg': 250},
   'clouds': {'all': 90},
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10n'}],
   'rain': {'1h': 0.3}},
  {'dt': 1585659600,
   'main': {'temp': 276.7,
    'feels_like': 273.31,
    'pressure': 1014,
    'humidity': 80,
    'temp_min': 275.15,
    'temp_max': 278.15},
   'wind': {'speed': 2.1, 'deg': 0},
   'clouds': {'all': 90},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04n'}]},
  {'dt': 1585663200,
   'main': {'temp': 276.55,
    'feels_like': 272.44,
    'pressure': 1015,
    'humidity': 80,
    'temp_min': 274.82,
    'temp_max': 278.15},
   'wind': {'speed': 3.1, 'deg': 180},
   'clouds': {'all': 90},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04d'}]},
  {'dt': 1585666800,
   'main': {'temp': 276.71,
    'feels_like': 272.97,
    'pressure': 1015,
    'humidity': 80,
    'temp_min': 275.15,
    'temp_max': 278.15},
   'wind': {'speed': 2.6, 'deg': 220},
   'clouds': {'all': 90},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04d'}]},
  {'dt': 1585670400,
   'main': {'temp': 277.41,
    'feels_like': 273.77,
    'pressure': 1016,
    'humidity': 80,
    'temp_min': 275.93,
    'temp_max': 278.71},
   'wind': {'speed': 2.6, 'deg': 200},
   'clouds': {'all': 90},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04d'}]},
  {'dt': 1585674000,
   'main': {'temp': 278.39,
    'feels_like': 274.41,
    'pressure': 1016,
    'humidity': 75,
    'temp_min': 277.04,
    'temp_max': 280.15},
   'wind': {'speed': 3.1, 'deg': 190},
   'clouds': {'all': 90},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04d'}]},
  {'dt': 1585677600,
   'main': {'temp': 279.4,
    'feels_like': 275.23,
    'pressure': 1017,
    'humidity': 75,
    'temp_min': 277.59,
    'temp_max': 280.93},
   'wind': {'speed': 3.6, 'deg': 230},
   'clouds': {'all': 90},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04d'}]},
  {'dt': 1585681200,
   'main': {'temp': 280.67,
    'feels_like': 276.89,
    'pressure': 1017,
    'humidity': 70,
    'temp_min': 278.71,
    'temp_max': 282.59},
   'wind': {'speed': 3.1, 'deg': 270},
   'clouds': {'all': 75},
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04d'}]},
  {'dt': 1585684800,
   'main': {'temp': 281.61,
    'feels_like': 276.96,
    'pressure': 1017,
    'humidity': 61,
    'temp_min': 279.82,
    'temp_max': 283.15},
   'wind': {'speed': 4.1, 'deg': 210},
   'clouds': {'all': 75},
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04d'}]},
  {'dt': 1585688400,
   'main': {'temp': 282.22,
    'feels_like': 277.31,
    'pressure': 1017,
    'humidity': 70,
    'temp_min': 280.15,
    'temp_max': 284.26},
   'wind': {'speed': 5.1, 'deg': 190},
   'clouds': {'all': 75},
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04d'}]},
  {'dt': 1585692000,
   'main': {'temp': 282.16,
    'feels_like': 277.6,
    'pressure': 1016,
    'humidity': 61,
    'temp_min': 279.82,
    'temp_max': 284.26},
   'wind': {'speed': 4.1, 'deg': 210},
   'clouds': {'all': 75},
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04d'}]},
  {'dt': 1585695600,
   'main': {'temp': 281.2,
    'feels_like': 274.32,
    'pressure': 1016,
    'humidity': 61,
    'temp_min': 278.71,
    'temp_max': 283.15},
   'wind': {'speed': 7.2, 'deg': 170},
   'clouds': {'all': 20},
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10d'}],
   'rain': {'1h': 0.25}},
  {'dt': 1585699200,
   'main': {'temp': 280.75,
    'feels_like': 273.81,
    'pressure': 1016,
    'humidity': 61,
    'temp_min': 278.71,
    'temp_max': 282.59},
   'wind': {'speed': 7.2, 'deg': 160},
   'clouds': {'all': 40},
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10d'}],
   'rain': {'1h': 0.81}},
  {'dt': 1585702800,
   'main': {'temp': 279.89,
    'feels_like': 274.65,
    'pressure': 1017,
    'humidity': 61,
    'temp_min': 277.04,
    'temp_max': 283.15},
   'wind': {'speed': 4.6, 'deg': 190},
   'clouds': {'all': 75},
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10d'}],
   'rain': {'1h': 0.81}},
  {'dt': 1585706400,
   'main': {'temp': 278.49,
    'feels_like': 276.11,
    'pressure': 1017,
    'humidity': 75,
    'temp_min': 275.93,
    'temp_max': 281.15},
   'wind': {'speed': 0.84, 'deg': 320},
   'clouds': {'all': 75},
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10d'}],
   'rain': {'1h': 0.82}},
  {'dt': 1585710000,
   'main': {'temp': 277.52,
    'feels_like': 273.93,
    'pressure': 1018,
    'humidity': 81,
    'temp_min': 275.37,
    'temp_max': 279.82},
   'wind': {'speed': 2.6, 'deg': 60},
   'clouds': {'all': 90},
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10n'}],
   'rain': {'1h': 0.76}},
  {'dt': 1585713600,
   'main': {'temp': 276.87,
    'feels_like': 273.84,
    'pressure': 1018,
    'humidity': 93,
    'temp_min': 274.82,
    'temp_max': 278.71},
   'wind': {'speed': 2.1, 'deg': 160},
   'clouds': {'all': 1},
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10n'}],
   'rain': {'1h': 0.25}},
  {'dt': 1585717200,
   'main': {'temp': 276.72,
    'feels_like': 273.67,
    'pressure': 1018,
    'humidity': 93,
    'temp_min': 274.82,
    'temp_max': 278.71},
   'wind': {'speed': 2.1, 'deg': 120},
   'clouds': {'all': 75},
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04n'}]},
  {'dt': 1585720800,
   'main': {'temp': 276.65,
    'feels_like': 273.24,
    'pressure': 1017,
    'humidity': 93,
    'temp_min': 274.82,
    'temp_max': 278.15},
   'wind': {'speed': 2.6, 'deg': 140},
   'clouds': {'all': 90},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04n'}]},
  {'dt': 1585724400,
   'main': {'temp': 276.72,
    'feels_like': 271.93,
    'pressure': 1018,
    'humidity': 80,
    'temp_min': 274.82,
    'temp_max': 278.15},
   'wind': {'speed': 4.1, 'deg': 150},
   'clouds': {'all': 90},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04n'}]}]}

In [72]:
df = pd.DataFrame(data = req["list"])
df.head()

,dt,main,wind,clouds,weather,rain
0,1585638000,"{'temp': 277.58, 'feels_like': 274.49, 'pressu...","{'speed': 2.1, 'deg': 190}",{'all': 75},"[{'id': 500, 'main': 'Rain', 'description': 'l...",{'1h': 0.25}
1,1585641600,"{'temp': 277.55, 'feels_like': 274.1, 'pressur...","{'speed': 2.6, 'deg': 160}",{'all': 90},"[{'id': 500, 'main': 'Rain', 'description': 'l...",{'1h': 0.68}
2,1585645200,"{'temp': 277.44, 'feels_like': 273.97, 'pressu...","{'speed': 2.6, 'deg': 160}",{'all': 75},"[{'id': 500, 'main': 'Rain', 'description': 'l...",{'1h': 0.25}
3,1585648800,"{'temp': 277.35, 'feels_like': 273.17, 'pressu...","{'speed': 3.6, 'deg': 170}",{'all': 75},"[{'id': 803, 'main': 'Clouds', 'description': ...",NaN
4,1585652400,"{'temp': 277.24, 'feels_like': 274.09, 'pressu...","{'speed': 2.1, 'deg': 190}",{'all': 90},"[{'id': 500, 'main': 'Rain', 'description': 'l...",{'1h': 0.3}

In [78]:
df_return = pd.DataFrame(data = df['dt'])

for col in df.columns[1:]:
    if isinstance(df[col][0], dict):
        temp_df = df[col].apply(pd.Series)
    elif isinstance(df[col][0], list):
        temp_df = df[col].apply(pd.Series)[0].apply(pd.Series)
    else:
        temp_df = df[col]
    df_return = df_return.join(temp_df)

In [80]:
def get_wind_history(params):
    """
    Extracts wind speed/direction data from JSON file
    Returns dataframe
    """

    weather_json = get_history_weather(params)

    df = pd.DataFrame(data = weather_json["list"])

    df_return = pd.DataFrame(data = df["dt"])
    
    for col in df.columns[1:]:
        if isinstance(df[col][0], dict):
            temp_df = df[col].apply(pd.Series)
        elif isinstance(df[col][0], list):
            temp_df = df[col].apply(pd.Series)[0].apply(pd.Series)
        else:
            temp_df = df[col]
        df_return = df_return.join(temp_df)
    
    df_return["city_id"] = weather_json["city_id"]
    
    return df_return

In [82]:
skookumchuck = {"lat": 46.741973,
                "lon": -122.639439,
                "type": "hour",
                "start": int(round(datetime(2020,3,31).timestamp(),0)),
                "end": int(round(datetime(2020,4,1).timestamp(),0))}

In [83]:
get_wind_history(skookumchuck)

,dt,temp,feels_like,pressure,humidity,temp_min,temp_max,speed,deg,all,id,main,description,icon,0,1h,city_id
0,1585638000,277.52,274.42,1014.0,86.0,276.15,278.71,2.10,190.0,75,500,Rain,light rain,10n,NaN,0.25,5812944
1,1585641600,277.42,273.25,1014.0,86.0,275.93,278.71,3.60,200.0,90,500,Rain,light rain,10n,NaN,0.34,5812944
2,1585645200,277.34,273.86,1014.0,86.0,275.93,278.71,2.60,160.0,75,803,Clouds,broken clouds,04n,NaN,NaN,5812944
3,1585648800,277.19,272.98,1014.0,86.0,275.93,278.15,3.60,170.0,75,803,Clouds,broken clouds,04n,NaN,NaN,5812944
4,1585652400,277.03,273.68,1014.0,93.0,275.37,278.15,2.60,190.0,90,804,Clouds,overcast clouds,04n,NaN,NaN,5812944
5,1585656000,276.76,273.37,1015.0,93.0,275.15,278.15,2.60,220.0,1,500,Rain,light rain,10n,NaN,0.25,5812944
6,1585659600,276.54,273.12,1014.0,80.0,274.82,278.15,2.10,0.0,90,804,Clouds,overcast clouds,04n,NaN,NaN,5812944
7,1585663200,276.35,272.19,1015.0,93.0,274.82,277.59,3.60,210.0,40,802,Clouds,scattered clouds,03d,NaN,NaN,5812944
8,1585666800,276.55,273.12,1016.0,93.0,275.15,277.59,2.60,230.0,75,803,Clouds,broken clouds,04d,NaN,NaN,5812944
9,1585670400,277.30,273.65,1016.0,80.0,275.93,278.71,2.60,200.0,90,804,Clouds,overcast clouds,04d,NaN,NaN,5812944
10,1585674000,278.29,274.30,1016.0,75.0,276.48,280.15,3.10,190.0,90,804,Clouds,overcast clouds,04d,NaN,NaN,5812944
11,1585677600,279.36,273.98,1017.0,70.0,277.59,280.93,5.10,210.0,90,804,Clouds,overcast clouds,04d,NaN,NaN,5812944
12,1585681200,280.64,275.64,1017.0,65.0,278.71,282.59,4.60,220.0,75,803,Clouds,broken clouds,04d,NaN,NaN,5812944
13,1585684800,281.56,276.91,1017.0,61.0,279.82,283.15,4.10,210.0,75,803,Clouds,broken clouds,04d,NaN,NaN,5812944
14,1585688400,282.12,277.19,1017.0,70.0,280.15,283.71,5.10,190.0,75,500,Rain,light rain,10d,NaN,0.25,5812944
15,1585692000,282.09,277.52,1016.0,61.0,279.82,284.26,4.10,210.0,75,803,Clouds,broken clouds,04d,NaN,NaN,5812944
16,1585695600,281.21,275.88,1017.0,75.0,279.15,283.15,5.70,180.0,40,500,Rain,light rain,10d,NaN,0.30,5812944
17,1585699200,280.94,274.03,1016.0,61.0,278.71,283.15,7.20,160.0,40,500,Rain,light rain,10d,NaN,0.25,5812944
18,1585702800,280.07,274.85,1017.0,61.0,277.04,283.15,4.60,190.0,75,803,Clouds,broken clouds,04d,NaN,NaN,5812944
19,1585706400,278.58,274.86,1017.0,75.0,275.93,281.15,2.77,235.0,75,501,Rain,moderate rain,10d,NaN,1.02,5812944
20,1585710000,277.58,274.00,1018.0,81.0,275.37,279.82,2.60,60.0,90,500,Rain,light rain,10n,NaN,0.51,5812944
21,1585713600,276.86,273.55,1018.0,100.0,274.82,278.71,2.77,235.0,90,500,Rain,light rain,10n,NaN,0.51,5812944
22,1585717200,276.61,272.14,1018.0,93.0,274.82,278.15,4.10,180.0,75,803,Clouds,broken clouds,04n,NaN,NaN,5812944
23,1585720800,276.74,273.59,1018.0,100.0,274.82,278.71,2.50,173.0,90,804,Clouds,overcast clouds,04n,NaN,NaN,5812944
24,1585724400,276.68,271.89,1018.0,80.0,274.82,278.15,4.10,150.0,90,804,Clouds,overcast clouds,04n,NaN,NaN,5812944

In [84]:
wy_wind = {"lat": 41.322294,
           "lon": -110.7984109,
           "type": "hour",
           "start": int(round(datetime(2020,3,31).timestamp(),0)),
           "end": int(round(datetime(2020,4,1).timestamp(),0))}

In [85]:
get_wind_history(wy_wind)

,dt,temp,feels_like,pressure,humidity,temp_min,temp_max,speed,deg,all,id,main,description,icon,city_id
0,1585638000,282.74,276.99,1019.0,57.0,280.37,285.15,5.7,160.0,90,804,Clouds,overcast clouds,04n,5780993
1,1585641600,282.59,275.97,1019.0,53.0,280.37,285.15,6.7,160.0,90,804,Clouds,overcast clouds,04n,5780993
2,1585645200,282.41,275.06,1019.0,53.0,280.15,284.26,7.7,160.0,90,804,Clouds,overcast clouds,04n,5780993
3,1585648800,282.79,276.00,1019.0,57.0,281.15,284.26,7.2,160.0,90,804,Clouds,overcast clouds,04n,5780993
4,1585652400,282.46,276.32,1018.0,57.0,280.37,284.15,6.2,160.0,90,804,Clouds,overcast clouds,04n,5780993
5,1585656000,282.40,275.20,1018.0,57.0,280.15,284.26,7.7,160.0,90,804,Clouds,overcast clouds,04n,5780993
6,1585659600,282.11,277.19,1018.0,61.0,279.82,284.15,4.6,190.0,90,804,Clouds,overcast clouds,04n,5780993
7,1585663200,282.31,276.49,1018.0,66.0,279.26,285.15,6.2,210.0,75,803,Clouds,broken clouds,04d,5780993
8,1585666800,282.69,276.74,1018.0,61.0,280.93,284.15,6.2,160.0,40,802,Clouds,scattered clouds,03d,5780993
9,1585670400,283.64,277.74,1018.0,50.0,280.93,286.15,5.7,150.0,40,802,Clouds,scattered clouds,03d,5780993
10,1585674000,285.28,279.62,1017.0,50.0,282.04,287.15,5.7,130.0,1,800,Clear,clear sky,01d,5780993
11,1585677600,286.22,282.58,1017.0,44.0,282.59,289.15,2.6,220.0,75,803,Clouds,broken clouds,04d,5780993
12,1585681200,288.29,284.19,1016.0,55.0,286.15,290.15,4.6,230.0,40,802,Clouds,scattered clouds,03d,5780993
13,1585684800,288.03,284.73,1015.0,39.0,283.71,290.15,2.1,170.0,90,804,Clouds,overcast clouds,04d,5780993
14,1585688400,288.27,282.12,1013.0,51.0,282.04,291.15,7.2,230.0,75,803,Clouds,broken clouds,04d,5780993
15,1585692000,286.70,280.97,1013.0,36.0,279.82,292.15,5.1,210.0,90,804,Clouds,overcast clouds,04d,5780993
16,1585695600,288.49,282.45,1012.0,34.0,279.82,293.15,5.7,200.0,90,804,Clouds,overcast clouds,04d,5780993
17,1585699200,287.71,280.88,1011.0,34.0,279.26,292.15,6.7,180.0,75,803,Clouds,broken clouds,04d,5780993
18,1585702800,287.29,281.21,1010.0,36.0,279.26,292.15,5.7,200.0,90,804,Clouds,overcast clouds,04d,5780993
19,1585706400,288.76,284.52,1010.0,39.0,286.15,292.15,3.6,170.0,40,802,Clouds,scattered clouds,03n,5780993
20,1585710000,288.26,284.76,1009.0,41.0,287.15,289.15,2.6,240.0,75,803,Clouds,broken clouds,04n,5780993
21,1585713600,287.26,283.93,1009.0,47.0,285.37,289.15,2.6,240.0,75,803,Clouds,broken clouds,04n,5780993
22,1585717200,285.78,279.85,1009.0,50.0,282.59,289.15,6.2,160.0,75,803,Clouds,broken clouds,04n,5780993
23,1585720800,283.36,279.71,1009.0,53.0,281.48,285.15,2.6,320.0,90,804,Clouds,overcast clouds,04n,5780993
24,1585724400,282.56,275.23,1009.0,71.0,280.37,284.15,8.7,300.0,90,804,Clouds,overcast clouds,04n,5780993